<ul class="nav navbar-nav sub-nav">  
  <check  if="{{ @role != 2 }}">            
    <li><a href="{{ @BASE.'/item/create' }}" class="btn btn-primary"><i class="icon-edit icon-white"></i>Create</a></li>  
  </check>
</ul>
<table data-toggle="table"       
      
       data-pagination="true"
       data-search="true"       
       class="table table-striped"
       data-url="{{ @BASE.'/items/data'}}"       
       data-side-pagination="server"       
       data-page-list="[10, 20, 50, 100]"       
       >
    <thead>    
    <tr class="row">
            <th data-field="code"  data-sortable="true"  class="col-sm-1">Item Code</th>              
            <th data-field="description"  data-sortable="true" class="col-sm-3">Description</th>
            <th data-field="barcode"  data-sortable="true"  class="col-sm-2">UPC</th>         
            <th data-field="createdate"  data-sortable="true"  class="col-sm-2">Created Date</th> 
            <th data-field="updatedate"  data-sortable="true"  class="col-sm-2">Updated Date</th>         
            <check  if="{{ @role != 2 }}" class="col-sm-2">
                <th data-formatter="operateFormatter">Action</th>
            </check>
        </tr>
    </thead>    
</table>

   



