<ul class="nav navbar-nav sub-nav">  
  <check  if="{{ @role != 2 }}">            
    <li><a href="{{ @BASE.'/user/create' }}" class="btn btn-primary"><i class="icon-edit icon-white"></i>Create</a></li>  
  </check>
</ul>
<table data-toggle="table"       
       data-query-params="queryParams"
       data-pagination="true"
       data-search="true"       
       class="table table-striped" 
       data-page-size="50"      
       data-page-list="[50, 100]">
    <thead>    
    <tr class="row">
            <th data-field="brand"  data-sortable="true"  class="col-sm-5">Username</th>        
            <th data-field="prefix"  data-sortable="true" class="col-sm-2">Role</th>
            <th data-field="lastnumber"  data-sortable="true" class="col-sm-2">Status</th>
            <check  if="{{ @role != 2 }}" class="col-sm-3">
                <th>Action</th>
            </check>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @users }}" value="{{ @user }}">
            <tr>
                <td>{{ trim(@user.username) }}</td>            
                <td>{{ trim(@roles[@user.role]) }}</td>
                <td>{{ trim(@statuses[@user.status]) }}</td>
                <check  if="{{ @role != 2 }}">
                    <td>
                        <a href="{{ @BASE.'/user/update/'. @user.id }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Edit</a>
                        &nbsp; &nbsp;&nbsp;&nbsp;
                        <a href="{{ @BASE.'/user/delete/'. @user.id }}"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>&nbsp; Delete</a>
                    </td>
                </check>
            </tr>
        </repeat>        
    </tbody>
</table>



