<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{ @BASE.'/'.@UI }}" />        
        <title>{{ @site }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../ui/css/bootstrap-table.css">
        <link href="../../ui/css/upc.css" rel="stylesheet" media="screen">        
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ @BASE.'/' }}">Battat</a>
            </div>
            <check if="{{ @page_head != 'Login' }}">
              <ul class="nav navbar-nav">                  
                <li><a href="{{ @BASE.'/itmes' }}">Items</a></li> 
                <li <check if="{{ @menu == 'brand' }}">class="active"</check>><a href="{{ @BASE.'/brands' }}">Brands</a></li>    
                <li><a href="{{ @BASE.'/item-number-extensions' }}">Item Number extensions</a></li>    
                <li><a href="{{ @BASE.'/art-work-languages' }}">Art Work Languages</a></li>   
                <check if="{{ @role == 0 }}">  
                  <li <check if="{{ @menu == 'user' }}">class="active"</check>><a href="{{ @BASE.'/users' }}">Users</a></li>                               
                  <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ @BASE.'/' }}">Users
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ @BASE.'/' }}">List Users</a></li>
                      <li><a href="{{ @BASE.'/user/create' }}">Create User</a></li>                  
                    </ul>
                  </li>   -->
                </check>                            
              </ul>
            </check>
            <ul class="nav navbar-nav navbar-right">              
              <check if="{{ @page_head == 'Login' }}">
                <li><a href="{{ @BASE.'/login' }}"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
              </check>
              <check if="{{ @page_head != 'Login' }}">
                <li <check if="{{ @menu == 'password' }}">class="active"</check>>
                  <a href="{{ @BASE.'/user/password/'.@SESSION.id }}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{@SESSION.user}}</a></li>
                <li>
                  <a href="{{ @BASE.'/logout' }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
              </check>
            </ul>
          </div>
        </nav>

        <div class="container">

            <div class="jumbotron">
                <h1>{{ @page_head }}</h1>
            </div>
            
            <check if="{{ @message }}">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ @message }}</strong>
            </div>
            </check>